# Исключить все скрытые каталоги и файлы git/IDE
.git
.idea
.vscode
*.log

# Исключить временные файлы
*.swp
*.tmp

# Исключить старые и дублирующие файлы, которые могли остаться после рефакторинга
**/auth_handler.go
**/updating.go
**/test_*
**/mock_*

# Исключить тесты (если не нужны в контейнере)
*_test.go

db/*.bak 