# Скомпилированные бинарники
*.exe
*.out
*.bin
/auth-service

# Директории
/bin/
/mod/
/vendor/

# Файлы окружения
.env
*.env

# Тестовые данные
/coverage.txt
/coverage.out
/test-results/

# IDE и редакторы
.vscode/
.idea/
*.swp

# Системные файлы
.DS_Store
Thumbs.db
prometheus.yml
*_credentials.json

# Логи
*.log

# Чувствительные данные
*.key
*.pem
*.crt